<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Interpreter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Interpreter2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Lang.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>270971581CD2410E00D0FE7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>275625B21CE113E9008A8DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27AA0AB71CDA3E3B0056DBCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27FDEECB1CCF9F3900DA931E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
